<% include layout_start %>

<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Meus Eventos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row m-b-sm m-t-sm">
                                <div class="col-md-2">
                                    <div>
                                        <select class="form-control m-b">
                                            <option>Categoria</option>
                                            <option>Festa</option>
                                            <option>Música</option>
                                            <option>Esporte</option>
                                            <option>Cinema</option>
                                            <option>Outros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group"><input style="height: 35px;" type="text"
                                                                    placeholder="Encontre o estabelecimento..."
                                                                    class="input-sm form-control"> <span
                                            class="input-group-btn">
                                                <button type="button" class="btn btn-sm btn-primary"
                                                        style="height: 35px;"> Buscar</button> </span></div>
                                </div>
                            </div>

                            <div class="project-list">
                                <% include event_table %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% include layout_end %>