<% include layout_start %>

<div class="wrapper wrapper-content">
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row" style="margin-left: 27%";>
                <div class="col-lg-8">
                    <div class="ibox-title">
                        <h5><i class="fa fa-money"></i>&nbsp;&nbsp;Adicionar Saldo ao GoTo</h5>
                    </div>
                    <div class="ibox-content" style="min-height: 250px;">

                        <form role="form" id="payment-form" method="post" action="founds/add">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>VALOR (R$)</label>
                                        <input type="text" class="form-control" name="founds"/>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>FORMA DE PAGAMENTO</label>
                                        <select class="form-control m-b" name="payment" style="cursor: pointer;">
                                            <option>Boleto Bancário</option>
                                            <option>Visa **** **** **** 6508</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" style="text-align: right; margin-top: 5%">
                                    <input class="btn btn-primary" type="submit" value="Adicionar"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        $("#ionrange_150").ionRangeSlider({
            min: 1,
            max: 500,
            prefix: "R$"
        });
    });
</script>

<% include layout_end %>