<div class="row">
    <div id="navbar" class="navbar-collapse collapse navbar-inverse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">HomeItem1</a></li>
            <li><a href="/">HomeMenuItem2</a></li>
            <li><a href="/">HomeMenuItem3</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a> Bem vindo, {{user.name}}!</a></li>
            <li><a href="/site/user/logout">Sair</a></li>
          </ul>
    </div>
</div>

<style>
#map {
    height: 600px;
}
.station {
    margin: 10px;
}
.container {
    margin-top:70px;
}
</style>