<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content">
            <div class="container">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Estabelecimentos</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row m-b-sm m-t-sm">
                                <div class="col-md-2">
                                    <div>
                                        <select class="form-control m-b">
                                            <option value="OTHERS">Categoria</option>
                                            <option value="PARTY">Festa</option>
                                            <option value="MUSIC">Música</option>
                                            <option value="SPORTS">Esporte</option>
                                            <option value="MOVIES">Cinema</option>
                                            <option value="OTHERS">Outros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="input-group"><input style="height: 35px;" type="text"
                                                                    placeholder="Encontre o estabelecimento..."
                                                                    class="input-sm form-control"> <span
                                            class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary" style="height: 35px;"> Buscar</button> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="project-status">
                                            <span href="#"><img alt="image" src="/mc.png" class="img-circle"
                                                                style="width: 90px; height: 90px; margin-top: 13%;"/></span>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="project_detail.html" style="font-size: 20px;">McDonald's</a>
                                            <br/>
                                            <small style="font-size: 100%">McDonald's Corporation é a maior cadeia
                                                mundial de restaurantes de fast food de hambúrguer, servindo cerca de 68
                                                milhões de clientes por dia em 119 países através de 35 mil pontos de
                                                venda
                                            </small>
                                        </td>
                                        <td class="project-completion">
                                            <p>Rua josé estevão de araujo, 92</p>
                                        </td>
                                        <td class="project-actions">
                                            <a href="/site/company/58a88bdb14a9e43b3cf33af2" class="btn btn-white btn-lg">Ver mais </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span href="#"><img alt="image" src="/dominos.png" class="img-circle"
                                                                style="width: 90px; height: 90px; margin-top: 13%;"/></span>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="project_detail.html" style="font-size: 20px;">McDonald's</a>
                                            <br/>
                                            <small style="font-size: 100%">McDonald's Corporation é a maior cadeia
                                                mundial de restaurantes de fast food de hambúrguer, servindo cerca de 68
                                                milhões de clientes por dia em 119 países através de 35 mil pontos de
                                                venda
                                            </small>
                                        </td>
                                        <td class="project-completion">
                                            <p>Rua josé estevão de araujo, 92</p>
                                        </td>
                                        <td class="project-actions">
                                            <a href="#" class="btn btn-white btn-lg">Ver mais </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span href="#"><img alt="image" src="/bk.png" class="img-circle"
                                                                style="width: 90px; height: 90px; margin-top: 13%;"/></span>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="project_detail.html" style="font-size: 20px;">McDonald's</a>
                                            <br/>
                                            <small style="font-size: 100%">McDonald's Corporation é a maior cadeia
                                                mundial de restaurantes de fast food de hambúrguer, servindo cerca de 68
                                                milhões de clientes por dia em 119 países através de 35 mil pontos de
                                                venda
                                            </small>
                                        </td>
                                        <td class="project-completion">
                                            <p>Rua josé estevão de araujo, 92</p>
                                        </td>
                                        <td class="project-actions">
                                            <a href="#" class="btn btn-white btn-lg">Ver mais </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span href="#"><img alt="image" src="/sp.png" class="img-circle"
                                                                style="width: 90px; height: 90px; margin-top: 13%;"/></span>
                                        </td>
                                        <td class="project-title" style="max-width: 360px;">
                                            <a href="project_detail.html" style="font-size: 20px;">McDonald's</a>
                                            <br/>
                                            <small style="font-size: 100%">McDonald's Corporation é a maior cadeia
                                                mundial de restaurantes de fast food de hambúrguer, servindo cerca de 68
                                                milhões de clientes por dia em 119 países através de 35 mil pontos de
                                                venda
                                            </small>
                                        </td>
                                        <td class="project-completion">
                                            <p>Rua josé estevão de araujo, 92</p>
                                        </td>
                                        <td class="project-actions">
                                            <a href="#" class="btn btn-white btn-lg">Ver mais </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer">
            <div>
                GoTo &copy; 2017
            </div>
        </div>

    </div>
</div>