<% include layout_start %>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <img alt="image" src="logo.png"  style="width: 300px;" />
        <h3 style="margin-top: 20%">Bem vindo(a) ao GoTo</h3>
        <p style="margin-bottom: 10%">Para onde você vai hoje?</p>
        <form class="m-t" role="form" method="post" action="authenticate">
            <div class="form-group">
                <input class="form-control" name="username" placeholder="Usuário">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <p class="text-muted text-center"><small>Não é cadastrado?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="/register">Criar Conta</a>
        </form>
        <p class="m-t"> <small>GoTo &copy; 2017</small> </p>
    </div>
</div>

<% include layout_end %>