<div class="wrapper wrapper-content">
    <div class="container">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content" style="min-height: 500px;">
                        <div class="ibox" style="max-width: 400px; margin-left: 30%; margin-top: 5%;">
                            <h2 style="margin-left: 20%; margin-bottom: 5%;">Valor de Contribuição</h2>
                            <div id="ionrange_150"></div>
                        </div>
                        <div class="ibox" style="max-width: 400px; margin-left: 30%; margin-top: 5%;">
                            <div class="form-group">
                                <h2 style="margin-left: 20%; margin-bottom: 5%;">Forma de Pagamento</h2>
                                <select class="form-control m-b" name="account" style="cursor: pointer;">
                                    <option>Saldo GoTo</option>
                                    <option>Cartão Visa 6508********</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary block m-b" style="width: 400px; margin-left: 30%; margin-top: 5%;">Participar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function() {
        $("#ionrange_150").ionRangeSlider({
            min: 1,
            max: 100,
            prefix: "R$"
        });
    });
</script>