<div id="wrapper">
    <div class="wrapper wrapper-content animated fadeInDown loginscreen col-lg-8"
         style="margin-left: 18%; margin-top:2%;">
        <div class="row">
            <div class="col-lg-12">
                {{#if error}}
                    <div class="alert alert-danger">{{error.message}}</div>
                {{/if}}

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cadastro</h5>
                    </div>
                    <form id="formRegister" method="POST" action="/register">
                    <div class="ibox-content">
                        <div id="wizard">
                            <h1>Localização</h1>
                            <div class="step-content" style="height: 300px;">
                                <div class="col-lg-8 text-center" style="margin-left: 20%">
                                    <h2>Informe sua cidade</h2>
                                    <input class="typeahead form-control">
                                </div>
                            </div>

                            <h1>Conta</h1>
                            <div class="step-content">
                                <div class="text-center m-t-md">
                                    <div class="col-lg-8 text-center" style="margin-left: 20%; margin-top:-3%">
                                        <h2>Informe sua nova conta</h2>
                                        <div class="form-group">
                                            <label style="margin-left: -90%">Nome *</label>
                                            <input id="userName" name="name" type="text"
                                                   class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-left: -90%">E-mail *</label>
                                            <input id="userName" name="email" type="text"
                                                   class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-left: -90%">Login *</label>
                                            <input id="userName" name="login" type="text"
                                                   class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-left: -90%">Senha *</label>
                                            <input id="password" name="password" type="password"
                                                   class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-left: -74%">Confirme a senha *</label>
                                            <input id="confirm" name="confirm" type="password"
                                                   class="form-control required">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1>Fim</h1>
                            <div class="step-content">
                                <div class="text-center m-t-md">
                                    <h2>Usuário cadastrado</h2>
                                    <p>
                                        Obrigado!
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#wizard").steps({
            onFinished: function (event, currentIndex) {
                var form = $('#formRegister');

                // Submit form input
                form.submit();
            },
            labels: {
                next: "Próximo",
                previous: "Anterior",
                finish: "Finalizar"
            }
        });


        var movies = new Bloodhound({
            datumTokenizer: function (datum) {
                return Bloodhound.tokenizers.whitespace(datum.value);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/city?q=%QUERY',
                wildcard: '%QUERY',
                filter: function (cities) {
                    // Map the remote source JSON array to a JavaScript object array
                    return $.map(cities, function (city) {
                        return {
                            id: city._id,
                            value: city.nome + ", " + city.state.sigla
                        };
                    });
                }
            }
        });

        movies.initialize();

// Instantiate the Typeahead UI
        $('.typeahead').typeahead(null, {
            displayKey: 'value',
            source: movies.ttAdapter()
        }).on('typeahead:selected', function(e, data) {
            var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "city").val(data.id);
            $('#formRegister').append($(input));
        });;
    });

</script>
<!--
<div class="row">
    <div class="col-md-offset-4 col-md-4">

        <form class="form-login" method="post" action="register">
            <input type="text" name="name" class="form-control input-sm" placeholder="Nome" />
            <input type="text" name="login" class="form-control input-sm" placeholder="Login" />
            <input type="password" name="password" class="form-control input-sm" placeholder="Senha" />
            <input type="text" name="email" class="form-control input-sm" placeholder="Email" />
            <button type="submit" class="form-control btn btn-primary btn-md">Registrar <i class="fa fa-sign-in"></i></a>
        </form>
    </div>
</div>-->